@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$base-color: #f9fafb;
$white-color: #fff;
$label-color: #777777;
$input-color: #f0f0f0;
$focus-color: #777777;
$success-color: #2ecc71;
$error-color: #e74c3c;
$button-color: #3498db;

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;

  .container {
    background-color: $white-color;
    border-radius: 0.4rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;

    .form {
      padding: 1.5rem 2.5rem;

      h2 {
        text-align: center;
        margin-top: 0;
      }

      .form-control {
        margin-bottom: 0.75rem;
        padding-bottom: 1.25rem;
        position: relative;

        label {
          color: $label-color;
          display: block;
          margin-bottom: 0.4rem;
        }

        input {
          border: 2px solid $input-color;
          border-radius: 0.25rem;
          display: block;
          width: 100%;
          padding: 0.75rem;

          &:focus {
            outline: 0;
            border-color: $focus-color;
          }
        }

        &.success input {
          border-color: $success-color;
        }

        &.error {
          input {
            border-color: $error-color;
          }

          small {
            visibility: visible;
          }
        }

        small {
          color: $error-color;
          position: absolute;
          bottom: 0;
          left: 0;
          visibility: hidden;
        }
      }

      button {
        cursor: pointer;
        background-color: $button-color;
        border: 2px solid $button-color;
        border-radius: 0.25rem;
        color: $white-color;
        display: block;
        padding: 0.3rem;
        margin-top: 1.25rem;
        width: 100%;
      }
    }
  }
}
